html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
}

.header {
    margin: auto;
    margin-bottom: 90px;
}

.header-content {
    max-width: 1000px;
    display: flex;
    gap: 40px;
}

.hero-text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-text, 
.right-items ul {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    padding-bottom: 90px;
}

.info h2 {
    margin: 30px 0 30px;
}
.info-images {
    display: flex;
    gap: 40px;
}

.info-image {
    display: flex;
    flex-flow: column;
    max-width: 150px;
}

.info-image img {
    border: 2px solid #007bff;
    border-radius: 10px;
}

.left-items {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.quote {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 90px 0;
}

.quotation {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.right-items ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.signature {
    align-self: center;
    width: 800px;
    text-align: end;
    font-weight: bold;
    padding-right: 35px;
}

.subtext {
    text-align: center;
    color: rgb(131, 131, 131);
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 900;
    padding: 7px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    max-width: 330px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h1, 
h2, 
p {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 90px;
}