html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: "Century Gothic", "Arial", Futura, sans-serif;
    display: flex;
    flex-flow: column;
    background-color: rgb(19, 33, 54);
}

.header {
    margin: auto;
    margin-bottom: 90px;
}

.header-content {
    max-width: 938px;
    display: flex;
    gap: 40px;
}

.hero-text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-text, 
.right-items ul {
    color: rgba(169, 169, 169);
}

.info {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    padding-bottom: 90px;
}

.info h2 {
    margin: 30px 0 30px;
}
.info-images {
    display: flex;
    gap: 40px;
}

.info-image {
    display: flex;
    flex-flow: column;
    max-width: 150px;
}

.info-image img {
    border: 2px solid #007bff;
    border-radius: 10px;
}

.left-items, 
button, 
h1 {
    color: white;
    font-weight: bold;
}

.right-items ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.subtext {
    text-align: center;
    color: rgb(131, 131, 131);
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 7px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    max-width: 300px;
}

h1, 
h2, 
p {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 90px;
}